<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>jums.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Registration_Confirm</servlet-name>
        <servlet-class>jums.Registration_Confirm</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Registration_Complete</servlet-name>
        <servlet-class>jums.Registration_Complete</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Search</servlet-name>
        <servlet-class>jums.Search</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Add</servlet-name>
        <servlet-class>jums.Add</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BuyComplete</servlet-name>
        <servlet-class>jums.BuyComplete</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BuyComplete2</servlet-name>
        <servlet-class>jums.BuyComplete2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Myupdate</servlet-name>
        <servlet-class>jums.Myupdate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Myupdate_Complete</servlet-name>
        <servlet-class>jums.Myupdate_Complete</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Registration_Confirm</servlet-name>
        <url-pattern>/Registration_Confirm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Registration_Complete</servlet-name>
        <url-pattern>/Registration_Complete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Search</servlet-name>
        <url-pattern>/Search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Add</servlet-name>
        <url-pattern>/Add</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BuyComplete</servlet-name>
        <url-pattern>/BuyComplete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BuyComplete2</servlet-name>
        <url-pattern>/BuyComplete2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Myupdate</servlet-name>
        <url-pattern>/Myupdate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Myupdate_Complete</servlet-name>
        <url-pattern>/Myupdate_Complete</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
